<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "gtm-head.liquid" %}
    <meta charset="UTF-8" />
    <title>Redirect: {{ link.slug }}</title>
    <meta name="robots" content="noindex" />
    <meta http-equiv="refresh" content="0.5;url={{ link.url }}" />
  </head>
  <body>
    {% include "gtm-body.liquid" %}
  </body>
</html>
